NEXT_PUBLIC_APP_URL="localhost:3000"
NODE_ENV="development"
SKIP_ENV_VALIDATION="true"

SENTRY_AUTH_TOKEN=""

# Cloudflare Turnstile
NEXT_PUBLIC_TURNSTILE_SITE_KEY=""
TURNSTILE_SECRET_KEY=""

# Resend
RESEND_API_KEY=""
FROM_EMAIL=""
CONTACT_EMAIL=""

# PostHog
NEXT_PUBLIC_POSTHOG_PROJECT_TOKEN=""
NEXT_PUBLIC_POSTHOG_HOST="https://us.i.posthog.com"
